<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Senha | Projeto Amor e Ação</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="bodySenha">
<div class="login-container">
  <div class="login-card">
    <img th:src="@{/imagens/logo.png}" alt="Logo ONG"/>
    <h2>Recuperar Senha</h2>
    <p>Digite seu e-mail cadastrado para redefinir sua senha.</p>

    <form th:action="@{/login/processar}" method="post">
      <div class="input-group">
        <i class="fa fa-envelope"></i>
        <input type="email" name="email" placeholder="Digite seu e-mail" required>
      </div>

      <button type="submit" class="btn-login">Enviar Link de Recuperação</button>

      <p th:text="${mensagem}" style="color:green;"></p>

      <div class="forgot-password">
        <a th:href="@{/login}">Voltar ao login</a>
      </div>
    </form>

  </div>
</div>
</body>
</html>
