<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Historico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div th:replace="/navbar/dashboard :: menu"></div>

<div class="container">
    <div class="header-bar">
        <div class="header-title">
            <h1>Historico</h1>
        </div>

        <div class="header-actions">
            <div class="pesquisa-box">
                <input type="text" class="campo-pesquisa" placeholder="Pesquisar...">
                <button class="btn-pesquisar"><i class="fa fa-search"></i></button>
            </div>

            <button class="filter-btn" id="toggleFilter">
                <i class="fas fa-filter"></i> Filtrar <i class="fas fa-chevron-down"></i>
            </button>
        </div>
    </div>

    <div class="filter-panel" id="filterPanel">
        <div class="filter-section">
            <div class="filter-header"><i class="fas fa-id-card"></i> Identidade <i class="fas fa-chevron-down"></i></div>
            <div class="filter-options">
                <label><input type="checkbox"> Nome</label>
                <label><input type="checkbox"> CPF</label>
                <label><input type="checkbox"> E-mail</label>
                <label><input type="checkbox"> Telefone</label>
            </div>
        </div>

        <div class="filter-section">
            <div class="filter-header"><i class="fas fa-venus-mars"></i> Gênero <i class="fas fa-chevron-down"></i></div>
            <div class="filter-options">
                <label><input type="checkbox"> Homem</label>
                <label><input type="checkbox"> Mulher</label>
                <label><input type="checkbox"> Todos</label>
            </div>
        </div>

        <div class="filter-section">
            <div class="filter-header"><i class="fas fa-map-marker-alt"></i> Localização <i class="fas fa-chevron-down"></i></div>
            <div class="filter-options">
                <label><input type="checkbox"> CEP</label>
                <label><input type="checkbox"> Bairro</label>
                <label><input type="checkbox"> Cidade</label>
                <label><input type="checkbox"> Estado</label>
            </div>
        </div>

        <div class="filter-section">
            <div class="filter-header"><i class="fas fa-book"></i> Cursos <i class="fas fa-chevron-down"></i></div>
            <div class="filter-options">
                <label><input type="checkbox"> Informática</label>
                <label><input type="checkbox"> Administração</label>
                <label><input type="checkbox"> Enfermagem</label>
            </div>
        </div>

        <button class="btn-buscar-filtro">
            <i class="fa fa-search"></i> Buscar
        </button>
    </div>

    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Status</th>
            <th>tipo</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="historico : ${historicos}">
            <td th:text="${historico.id}"></td>
            <td th:text="${historico.nome}"></td>
            <td th:text="${historico.email}"></td>
            <td th:text="${historico.status}"></td>
            <td th:text="${historico.tipo}"></td>
            <td class="actions">
                <a th:if="${historico.tipo == 'Aluno'}" th:href="@{'/historico/visualizaAluno/' + ${historico.id}}" class="btn-visualizar">Visualizar</a>
                <a th:if="${historico.tipo == 'Voluntario'}" th:href="@{'/historico/visualizaVoluntario/' + ${historico.id}}" class="btn-visualizar">Visualizar</a>
                <a th:if="${historico.tipo == 'EmpresaParceira'}" th:href="@{'/historico/visualizaEmpresaParceira/' + ${historico.id}}" class="btn-visualizar">Visualizar</a>
                <a th:if="${historico.tipo == 'Usuario'}" th:href="@{'/historico/visualizaUsuario/' + ${historico.id}}" class="btn-visualizar">Visualizar</a>

                <span th:switch="${historico.tipo}">
                    <form th:case="'Aluno'" th:action="@{'/historico/ativarAluno/' + ${historico.id}}" method="post" style="display:inline">
                        <button type="submit" class="btn-editar">Ativar</button>
                    </form>

                    <form th:case="'Voluntario'" th:action="@{'/historico/ativarVoluntario/' + ${historico.id}}" method="post" style="display:inline">
                        <button type="submit" class="btn-editar">Ativar</button>
                    </form>

                    <form th:case="'EmpresaParceira'" th:action="@{'/historico/ativarEmpresaParceira/' + ${historico.id}}" method="post" style="display:inline">
                        <button type="submit" class="btn-editar">Ativar</button>
                    </form>

                    <form th:case="'Usuario'" th:action="@{'/historico/ativarUsuario/' + ${historico.id}}" method="post" style="display:inline">
                        <button type="submit" class="btn-editar">Ativar</button>
                    </form>
                </span>

            </td>
        </tr>

        </tbody>
    </table>
</div>
<script>
    const toggleButton = document.getElementById('toggleFilter');
    const filterPanel = document.getElementById('filterPanel');
    let open = false;

    toggleButton.addEventListener('click', () => {
      open = !open;
      filterPanel.style.display = open ? 'grid' : 'none';
      toggleButton.querySelector('.fa-chevron-down').style.transform = open ? 'rotate(180deg)' : 'rotate(0deg)';
    });
</script>
</body>
</html>
