<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Historico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div th:replace="/navbar/dashboard :: menu"></div>

<div class="container">
    <div class="header-bar">
        <div class="header-title">
            <h1>Historico</h1>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="historico : ${historicos}">
            <td th:text="${historico.id}"></td>
            <td th:text="${historico.nome}"></td>
            <td th:text="${historico.email}"></td>
            <td th:text="${historico.status}"></td>
            <td th:text="${historico.tipo}"></td>
            <td class="actions">
                <a th:if="${historico.tipo == 'Aluno'}" th:href="@{'/historico/visualizaAluno/' + ${historico.id}}">Visualizar</a>
                <a th:if="${historico.tipo == 'Voluntario'}" th:href="@{'/historico/visualizaVoluntario/' + ${historico.id}}">Visualizar</a>
                <a th:if="${historico.tipo == 'EmpresaParceira'}" th:href="@{'/historico/visualizaEmpresaParceira/' + ${historico.id}}">Visualizar</a>
                <a th:if="${historico.tipo == 'Usuario'}" th:href="@{'/historico/visualizaUsuario/' + ${historico.id}}">Visualizar</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>
