<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/imgens}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body th:fragment="menu">
<div class="topbar">

    <button class="menu-toggle" onclick="toggleSidebar()">
        <i class="fa-solid fa-bars"></i>
    </button>

    <div class="topbar-left">
        <h1>Painel Administrativo</h1>
    </div>



    <div class="topbar-right">
        <button class="icon-button">
            <i class="fa-solid fa-bell"></i>
        </button>
        <img class="img-user" th:src="@{/imagens/usuario.jpg}" alt="usuario Ong" height="50px"/>
    </div>
</div>
<ul class="sidebar">
    <li><a href="/usuarios"><i class="fa-solid fa-user"></i> Usuários</a></li>
    <li><a href="/curso/listar"><i class="fa-solid fa-table"></i> Formulários</a></li>
    <li><a href="/aluno/listar"><i class="fa-solid fa-user-graduate"></i> Alunos</a></li>
    <li><a href="/voluntario/listar"><i class="fa-solid fa-handshake-angle"></i> Voluntários</a></li>
    <li><a href="/empresasParceiras"><i class="fa-solid fa-building"></i> Parcerias</a></li>
    <li><a href="/historico/listar"><i class="fa-solid fa-history"></i> Historico</a></li>
</ul>

<script>
    function toggleSidebar() {
      const sidebar = document.querySelector('.sidebar');
      sidebar.classList.toggle('active');
    }
</script>
</body>
</html>