<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Funções</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div th:replace="/administrativo/navbar/dashboard :: menu"></div>

<div class="container">

    <div th:if="${erro}" class="erroGlobal">
        <p th:text="${erro}"></p>
    </div>

    <form th:action="@{/funcao/salvar}" th:object="${funcao}" method="post" class="form-adm">
        <input type="hidden" th:field="*{id}" />

        <div class="add-voltar">
            <h1 th:text="${funcao.id == null ? 'Nova Função' : 'Editar Função'}"></h1>

            <a type="button" class="button-vol" th:href="@{/funcao/listar}">
                <i class="fa-solid fa-arrow-left"></i> Voltar
            </a>
        </div>

        <div class="form-grid">

            <div class="form-group">
                <label for="nomeFuncao">
                    Nome da Função
                    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="error"></span>
                </label>
                <input id="nomeFuncao" type="text" th:field="*{nome}"
                       th:classappend="${#fields.hasErrors('nome')} ? ' field-error' : ''" minlength="3" maxlength="100" placeholder="Digiteo nome da função" required />
            </div>

            <div class="form-group">
                <label for="descricaoFuncao">
                    Descrição
                    <span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" class="error"></span>
                </label>

                <textarea id="descricaoFuncao"
                          th:field="*{descricao}"
                          th:classappend="${#fields.hasErrors('descricao')} ? ' field-error' : ''"
                          rows="4"
                          maxlength="500"
                          placeholder="Digite aqui a descrição da função..."
                          required></textarea>
            </div>

        </div>

        <button type="submit" class="button-sav">Salvar Funcão</button>
    </form>
</div>
</body>
</html>
