<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Usuário</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/imgens}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div th:replace="/navbar/dashboard :: menu"></div>

<div class="container">
    <h1>Adicionar Usuário</h1>
    <form th:action="${acao == 'editar'} ? @{/usuarios/atualizar/{id}(id=${usuario.id})} : @{/usuarios}"
          th:object="${usuario}" method="post" class="form-adm">

        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" th:field="*{nome}" id="nome" required />
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" th:field="*{email}" id="email" required />
        </div>

        <div class="form-group" th:if="${acao == 'criar'}">
            <label for="senha">Senha:</label>
            <input type="password" th:field="*{senha}" id="senha" required />
        </div>

        <div class="form-group">
            <label for="cargo">Cargo:</label>
            <select th:field="*{cargo}" id="cargo" required>
                <option th:value="USUARIO_SIMPLES">Usuário Simples</option>
                <option th:value="USUARIO_ADMINISTRADOR">Administrador</option>
            </select>
        </div>

        <div class="form-group">
            <label for="status">Status:</label>
            <select th:field="*{status}" id="status" required>
                <option th:value="ATIVO">Ativo</option>
                <option th:value="INATIVO">Inativo</option>
            </select>
        </div>

        <div class="form-group">
            <label for="fotoPerfil">URL da Foto de Perfil:</label>
            <input type="text" th:field="*{fotoPerfil}" id="fotoPerfil" />
        </div>

        <button type="submit" th:text="${acao == 'editar'} ? 'Atualizar Usuário' : 'Salvar Usuário'" class="button-sav"></button>
    </form>
</div>
</body>
</html>
