<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Usuários</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/imgens}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div th:replace="/navbar/dashboard :: menu"></div>

<div class="container">
    <div class="header-bar">
        <div class="header-title">
            <h1>Listagem de Usuários</h1>
        </div>
        <div class="header-action">
            <a class="btn-create" th:href="@{/usuarios/novo}">Cadastrar Usuário</a>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${usuarios}">
            <td data-label="ID" th:text="${user.id}">1</td>
            <td data-label="Nome" th:text="${user.nome}">Nome</td>
            <td data-label="Email" th:text="${user.email}">email@example.com</td>
            <td data-label="Status" th:text="${user.status}">ATIVO</td>
            <td data-label="Ações" class="actions">
                <a th:href="@{/usuarios/visualizar/{id}(id=${user.id})}" class="btn-visualizar">Visualizar</a>
                <a th:href="@{/usuarios/editar/{id}(id=${user.id})}">Editar</a>
                <form th:action="@{/usuarios/deletar/{id}(id=${user.id})}" method="post">
                    <button type="submit" class="delete-btn" onclick="return confirm('Tem certeza que deseja excluir este usuário?');">Excluir</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>