<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Função</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div th:replace="/navbar/dashboard :: menu"></div>

<div class="container">
    <h1>Cadastrar Nova Função</h1>

    <div th:if="${erro}" class="erroGlobal">
        <p th:text="${erro}"></p>
    </div>

    <form th:action="@{/funcaoVoluntario/salvar}" th:object="${funcaoVoluntario}" method="post" class="form-adm">
        <input type="hidden" th:field="*{id}" />

        <div class="form-grid">
            <div class="form-group">
                <label for="nomeFuncao">Nome da Função
                    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="error"></span>
                </label>
                <input id="nomeFuncao" type="text" th:field="*{nome}"
                       th:classappend="${#fields.hasErrors('nome')} ? ' field-error' : ''" required />
            </div>
        </div>

        <button type="submit" class="button-sav">Salvar Função</button>
    </form>
</div>

</body>
</html>
