<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Funções</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div th:replace="/navbar/dashboard :: menu"></div>

<div class="container">
    <div class="header-bar">
        <div class="header-title">
            <h1>Listagem de Funções</h1>
        </div>
        <div class="header-action">
            <a  class="btn-create" th:href="@{/funcaoVoluntario/cadastrar}">Cadastrar Função</a>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome da Função</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="funcaoVoluntario : ${funcoesVoluntario}">
            <td th:text="${funcaoVoluntario.id}">1</td>
            <td th:text="${funcaoVoluntario.nome}">Nome da Função</td>
            <td class="actions">
                <form th:action="@{/funcaoVoluntario/remover/{id}(id=${funcaoVoluntario.id})}" style="display:inline;">
                    <button type="submit" class="delete-btn" onclick="return confirm('Tem certeza que deseja remover esta função?');">Excluir</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
