<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Funções</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div th:replace="/administrativo/navbar/dashboard :: menu"></div>

<div class="container">

  <div class="header-bar">
    <div class="header-title">
      <h1>Lista de Funções</h1>
    </div>

    <div class="header-actions">
      <div class="pesquisa-box">
        <form method="get" th:action="@{/funcao/filtrarPesquisa}">
          <input type="text" name="pesquisa" class="campo-pesquisa" placeholder="Pesquisar..." th:value="${pesquisa}">
          <button class="btn-pesquisar" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>

      <a th:href="@{/funcao}" class="btn-create-funcao">
        <i class="fas fa-user-plus"></i> Nova Função
      </a>
    </div>
  </div>

  <div th:if="${vazio}" class="vazio">
    <h1>Nenhuma Função Encontrada :\</h1>
  </div>

  <table th:if="${!vazio}">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="funcao : ${funcoes}" id="backgroudTr2">
      <td data-label="ID" th:text="${funcao.id}">1</td>
      <td data-label="Nome" th:text="${funcao.nome}">Nome</td>
      <td data-label="Descrição" th:text="${funcao.descricao}">Descrição</td>
      <td data-label="Ações" class="actions">
        <a th:href="@{'/funcao/visualiza/' + ${funcao.id}}" class="btn-visualizar"><i class="fas fa-eye"></i></a>
        <a th:href="@{'/funcao/editar/' + ${funcao.id}}"><i class="fas fa-edit"></i></a>
        <a href="#" class="delete-btn" th:attr="data-id=${funcao.id}, data-nome=${funcao.nome}">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div id="modal-overlay" class="modal-overlay" style="display:none;">
  <div class="modal-content">
    <h2>Confirmação de Exclusão</h2>
    <p>Tem certeza que deseja excluir a funcão: <span id="modal-nome"></span>?</p>

    <div class="card-actions" style="justify-content:center;">
      <form th:action="@{/funcao/remover/{id}}" id="form-delete" method="post">
        <button type="submit" class="delete-confirm" style="width: 100px;">Confirmar</button>
      </form>
      <button id="cancelar-modal" class="button-vol" style="width: 100px;">Cancelar</button>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.delete-btn').forEach(btn => {
      btn.addEventListener('click', e => {
          e.preventDefault();
          const funcaoId = btn.getAttribute('data-id');
          const funcaoName = btn.getAttribute('data-nome');

          document.querySelector('#modal-nome').textContent = funcaoName;
          document.querySelector('#form-delete').setAttribute('action', `/funcao/remover/${funcaoId}`);

          document.querySelector('#modal-overlay').style.display = 'flex';
      });
  });

  document.querySelector('#cancelar-modal').addEventListener('click', () => {
      document.querySelector('#modal-overlay').style.display = 'none';
  });

</script>
</body>
</html>
