<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listagem de Usuários</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/imgens}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div th:replace="/navbar/dashboard :: menu"></div>

<div class="container">
  <div class="header-bar">
    <div class="header-title">
      <h1>Lista de Usuário</h1>
    </div>

    <div class="header-actions">
      <div class="pesquisa-box">
        <form method="get" th:action="@{/usuario/filtrarPesquisa}">
          <input type="text" name="pesquisa" class="campo-pesquisa" placeholder="Pesquisar..." th:value="${pesquisa}">
          <button class="btn-pesquisar" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>

      <button class="filter-btn" id="toggleFilter">
        <i class="fas fa-filter"></i> Filtrar <i class="fas fa-chevron-down"></i>
      </button>

      <a th:href="@{/usuario}" class="btn-create">
        <i class="fas fa-user-plus"></i> Novo Usuário
      </a>
    </div>
  </div>

  <form th:action="@{/usuario/filtrar}" method="get" class="filter-panel-usuario" id="filterPanel">
    <div class="filter-section">
      <div class="filter-header"><i class="fas fa-id-badge" id="filtro-icones"></i> Cargos   </div>
      <div class="filter-options">
        <label><input type="radio" name="cargo" value="USUARIO_ADMINISTRADOR" th:checked="${cargo} == 'USUARIO_ADMINISTRADOR'"> Administrador</label>
        <label><input type="radio" name="cargo" value="USUARIO_SIMPLES" th:checked="${cargo} == 'USUARIO_SIMPLES'"> Usuario Simples</label>
        <label><input type="radio" name="cargo" value="TODOS" th:checked="${cargo} == 'TODOS'"> Todos</label>
      </div>
    </div>

    <button class="btn-buscar-filtro-usuario">
      <i class="fa fa-search"></i> Buscar
    </button>
  </form>

  <div th:if="${vazio}" class="vazio">
    <h1>Nenhum usuario encontrado com os filtros aplicados :\</h1>
  </div>

  <table th:if="${!vazio}">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Cargo</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${usuarios}">
      <td data-label="ID" th:text="${user.id}">1</td>
      <td data-label="Nome" th:text="${user.nome}">Nome</td>
      <td data-label="Email" th:text="${user.email}">email@example.com</td>
      <td data-label="Cargo" th:text="${user.cargo}"></td>
      <td data-label="Status" th:text="${user.status}">ATIVO</td>
      <td data-label="Ações" class="actions">
        <a th:href="@{/usuario/visualizar/{id}(id=${user.id})}" class="btn-visualizar"><i class="fas fa-eye"></i></a>
        <a th:href="@{/usuario/editar/{id}(id=${user.id})}"><i class="fas fa-edit"></i></a>
        <a href="#" class="delete-btn" th:attr="data-id=${user.id}, data-nome=${user.nome}">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <form th:if="${!vazio}" class="action-botton-page" th:action="@{/usuario/filtrar}" method="get">
    <input type="hidden" name="cargo" th:value="${cargo}">

    <h1>Página</h1>
    <button th:if="${usuarios.hasPrevious()}" type="submit" name="page" th:value="${usuarios.number - 1}" th:text="${usuarios.number}"></button>
    <button class="active" type="submit" name="page" th:value="${usuarios.number}" th:text="${usuarios.number + 1}"></button>
    <button th:if="${usuarios.hasNext()}" type="submit" name="page" th:value="${usuarios.number + 1}" th:text="${usuarios.number + 2}"></button>
  </form>
</div>

<div id="modal-overlay" class="modal-overlay" style="display:none;">
  <div class="modal-content">
    <h2>Confirmação de Exclusão</h2>
    <p>Tem certeza que deseja excluir o usuário: <span id="modal-nome"></span>?</p>

    <div class="card-actions" style="justify-content:center;">
      <form th:action="@{/usuario/remover/{id}}" id="form-delete" method="post">
        <button type="submit" class="delete-confirm" style="width: 100px;">Confirmar</button>
      </form>
      <button id="cancelar-modal" class="button-vol" style="width: 100px;">Cancelar</button>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.delete-btn').forEach(btn => {
        btn.addEventListener('click', e => {
            e.preventDefault();
            const userId = btn.getAttribute('data-id');
            const userName = btn.getAttribute('data-nome');

            document.querySelector('#modal-nome').textContent = userName;
            document.querySelector('#form-delete').setAttribute('action', `/usuario/remover/${userId}`);

            document.querySelector('#modal-overlay').style.display = 'flex';
        });
    });

    document.querySelector('#cancelar-modal').addEventListener('click', () => {
        document.querySelector('#modal-overlay').style.display = 'none';
    });

  const toggleButton = document.getElementById('toggleFilter');
  const filterPanel = document.getElementById('filterPanel');
  let open = false;

  toggleButton.addEventListener('click', () => {
    open = !open;
    filterPanel.style.display = open ? 'grid' : 'none';
    toggleButton.querySelector('.fa-chevron-down').style.transform = open ? 'rotate(180deg)' : 'rotate(0deg)';
  });
</script>
</body>
</html>