<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empresas Parceiras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div th:replace="/navbar/dashboard :: menu"></div>

<div class="container">
    <div class="header-bar">
        <div class="header-title">
            <h1>Lista de Empresas Parceiras</h1>
        </div>
        <div class="header-action">
            <a  class="btn-create" th:href="@{/empresasParceiras/novo}">Cadastrar Parceria</a>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome da Empresa</th>
            <th>CNPJ</th>
            <th>Representante</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="empresa : ${empresasParceiras}">
            <td th:text="${empresa.id}"></td>
            <td th:text="${empresa.nome_empresa}"></td>
            <td th:text="${empresa.cnpj}"></td>
            <td th:text="${empresa.nome_representante}"></td>
            <td th:text="${empresa.status}"></td>
            <td class="actions">
                <a th:href="@{'/empresasParceiras/visualizar/' + ${empresa.id}}" class="btn-visualizar">Visualizar</a>
                <a th:href="@{/empresasParceiras/editar/{id}(id=${empresa.id})}" class="btn-editar">Editar</a>
                <form th:action="@{/empresasParceiras/{id}(id=${empresa.id})}" method="post" style="display:inline;">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="delete-btn" onclick="return confirm('Tem certeza que deseja deletar esta empresa?');">Excluir</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>