<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/img}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div class="topbar">
    <div class="topbar-left">
        <h1>Painel Administrativo</h1>
    </div>

    <div class="topbar-right">
        <button class="icon-button">
            <i class="fa-solid fa-bell"></i>
        </button>
        <img class="user-photo" src="/" alt="Usuário">
    </div>
</div>
<ul class="sidebar">
    <li><a href="#usuarios"><i class="fa-solid fa-user"></i> Usuários</a></li>
    <li><a href="#formularios"><i class="fa-solid fa-table"></i> Formulários</a></li>
    <li><a href="#alunos"><i class="fa-solid fa-user-graduate"></i> Alunos</a></li>
    <li><a href="#voluntarios"><i class="fa-solid fa-handshake-angle"></i> Voluntários</a></li>
    <li><a href="#parcerias"><i class="fa-solid fa-building"></i> Parcerias</a></li>

    <li class="bottom-image">
        <img src="../static/imagens/logo.png"/>
    </li>
</ul>
</body>
</html>