<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Historico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div th:replace="/administrativo/navbar/dashboard :: menu"></div>

<div class="container">
    <div class="header-bar-historico">
        <div class="header-title">
            <h1>Historico</h1>
        </div>

        <div class="header-actions">
            <div class="pesquisa-box">
                <form method="get" th:action="@{/historico/filtrarPesquisa}">
                    <input type="text" name="pesquisa" class="campo-pesquisa" placeholder="Pesquisar..." th:value="${pesquisa}">
                    <button class="btn-pesquisar" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>

            <div class="filter-container">
                <button class="filter-btn-historico" id="toggleFilter">
                    <i class="fas fa-filter"></i> Filtrar <i class="fas fa-chevron-down"></i>
                </button>

                <form th:action="@{/historico/filtrar}" method="get" class="filter-panel-historico" id="filterPanel">
                    <div class="filter-section">
                        <div class="filter-header" style="width: 35%;">
                            <i class="fas fa-id-card" id="filtro-icones"></i> Tipos
                        </div>

                        <div class="filter-options">
                            <label><input type="checkbox" name="tipos" value="Aluno"> Aluno</label>
                            <label><input type="checkbox" name="tipos" value="Voluntario"> Voluntario</label>
                            <label><input type="checkbox" name="tipos" value="Empresa Parceira"> Empresa Parceira</label>
                            <label><input type="checkbox" name="tipos" value="Usuario"> Usuario</label>
                        </div>
                    </div>

                    <button type="submit" class="btn-buscar-filtro-historico">
                        <i class="fa fa-search"></i> Buscar
                    </button>
                </form>
            </div>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Status</th>
            <th>tipo</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="historico : ${historicos}">
            <td data-label="ID" th:text="${historico.id}"></td>
            <td data-label="Nome" th:text="${historico.nome}"></td>
            <td data-label="Email" th:text="${historico.email}"></td>
            <td data-label="Status" th:text="${historico.status}"></td>
            <td data-label="Tipo" th:text="${historico.tipo}"></td>
            <td data-label="Ações" class="actions">
                <a th:if="${historico.tipo == 'Aluno'}" th:href="@{'/historico/visualizaAluno/' + ${historico.id}}" class="btn-visualizar"><i class="fas fa-eye"></i></a>
                <a th:if="${historico.tipo == 'Voluntario'}" th:href="@{'/historico/visualizaVoluntario/' + ${historico.id}}" class="btn-visualizar"><i class="fas fa-eye"></i></a>
                <a th:if="${historico.tipo == 'EmpresaParceira'}" th:href="@{'/historico/visualizaEmpresaParceira/' + ${historico.id}}" class="btn-visualizar"><i class="fas fa-eye"></i></a>
                <a th:if="${historico.tipo == 'Usuario'}" th:href="@{'/historico/visualizaUsuario/' + ${historico.id}}" class="btn-visualizar"><i class="fas fa-eye"></i></a>
                <a href="#"
                   class="ativar-btn"
                   th:attr="data-id=${historico.id}, data-nome=${historico.nome}, data-tipo=${historico.tipo}">
                    <i class="fa-solid fa-check"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <form class="action-botton-page" th:action="@{/historico/listar}" method="get">

        <h1>Página</h1>
        <button th:if="${historicos.hasPrevious()}" type="submit" name="page" th:value="${historicos.number - 1}" th:text="${historicos.number}"></button>
        <button class="active" type="submit" name="page" th:value="${historicos.number}" th:text="${historicos.number + 1}"></button>
        <button th:if="${historicos.hasNext()}" type="submit" name="page" th:value="${historicos.number + 1}" th:text="${historicos.number + 2}"></button>
    </form>
</div>

<div id="message-modal" class="modal-overlay" th:if="${erro != null or sucesso != null}" style="display:none;">
    <div class="modal-content">
        <span id="close-modal" class="close-btn">&times;</span>
        <p th:if="${erro}" th:text="${erro}" style="color: red; font-weight: bold;"></p>
        <p th:if="${sucesso}" th:text="${sucesso}" style="color: green; font-weight: bold;"></p>
    </div>
</div>

<div id="modal-overlay" class="modal-overlay" style="display:none;">
    <div class="modal-content">
        <h2>Confirmação de Ativação</h2>
        <p>Tem certeza que deseja ativar: <span id="modal-nome"></span>?</p>

        <div class="card-actions" style="justify-content:center;">
            <form id="form-delete" method="post">
                <button type="submit" class="ativar-confirm" style="width: 100px;">Ativar</button>
            </form>
            <button id="cancelar-modal" class="button-vol" style="width: 100px;">Cancelar</button>
        </div>
    </div>
</div>


<script>
    document.querySelectorAll('.ativar-btn').forEach(btn => {
    btn.addEventListener('click', e => {
        e.preventDefault();

        const historicoId = btn.getAttribute('data-id');
        const historicoNome = btn.getAttribute('data-nome');
        const tipo = btn.getAttribute('data-tipo');

        let actionUrl = '';
        switch (tipo) {
            case 'Aluno':
                actionUrl = `/historico/ativarAluno/${historicoId}`;
                break;
            case 'Voluntario':
                actionUrl = `/historico/ativarVoluntario/${historicoId}`;
                break;
            case 'EmpresaParceira':
                actionUrl = `/historico/ativarEmpresaParceira/${historicoId}`;
                break;
            case 'Usuario':
                actionUrl = `/historico/ativarUsuario/${historicoId}`;
                break;
            default:
                console.error('Tipo desconhecido:', tipo);
                return;
        }

        document.querySelector('#modal-nome').textContent = historicoNome;
        document.querySelector('#form-delete').setAttribute('action', actionUrl);

        document.querySelector('#modal-overlay').style.display = 'flex';
    });
});

document.querySelector('#cancelar-modal').addEventListener('click', () => {
    document.querySelector('#modal-overlay').style.display = 'none';
});

    const toggleButton = document.getElementById('toggleFilter');
    const filterPanel = document.getElementById('filterPanel');
    let open = false;

    toggleButton.addEventListener('click', () => {
      open = !open;
      filterPanel.style.display = open ? 'block' : 'none';
      toggleButton.querySelector('.fa-chevron-down').style.transform = open ? 'rotate(180deg)' : 'rotate(0deg)';
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const modal = document.getElementById("message-modal");
        const closeBtn = document.getElementById("close-modal");

        if(modal) {
            modal.style.display = "flex";
        }

        closeBtn.addEventListener("click", () => {
            modal.style.display = "none";
        });

        window.addEventListener("click", (e) => {
            if(e.target === modal) {
                modal.style.display = "none";
            }
        });
    });
</script>
</body>
</html>
