body {
  margin: 0;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #e9e9ec 80%, #0074b8 80%);
  padding: 10px 20px;
  height: 80px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0%;
  right: 0;
  z-index: 1000;
}

.topbar-left h1 {
  color: #0e3f8c;
  font-size: 28px;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-button {
  background-color: #e9e9ec;
  border: none;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.5s;
}

.icon-button i {
  font-size: 20px;
  color: #0e3f8c;
}

.icon-button i:hover {
  padding: 3px;
}

.user-photo {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 6px;
  border: 2px solid #ddd;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 130px;
  background-color: #04548c;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 100px;
}

li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 25px 25px;
  text-decoration: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: 0.5s;
  text-align: center;
  font-size: 17px;
}

li a i {
  font-size: 20px;
  margin-bottom: 5px;
}

li a:hover {
  background-color: white;
  color: black;
}

.bottom-image {
  text-align: center;
  padding: 10px;
}

.bottom-image img {
  width: 80px;
  margin-bottom: 10px;
}
