<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Curso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div th:replace="/navbar/dashboard :: menu"></div>

<div class="container">

    <div th:if="${erro}" class="erroGlobal">
        <p th:text="${erro}"></p>
    </div>

    <form th:action="@{/curso/salvar}" th:object="${curso}" method="post" class="form-adm" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" />
        <div class="add-voltar">
            <h1 th:text="${curso.id == null ? 'Novo Curso' : 'Editar Curso'}"></h1>

            <a type="button" class="button-vol" th:href="@{/curso/listar}">
                <i class="fa-solid fa-arrow-left"></i> Voltar
            </a>
        </div>

        <div class="form-grid">

            <div class="form-group">
                <label for="nomeCurso">Nome do Curso
                    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="error"></span>
                </label>
                <input id="nomeCurso" type="text" th:field="*{nome}" required />
            </div>

            <div class="form-group">
                <label for="professorCurso">Nome do Professor(a)
                    <span th:if="${#fields.hasErrors('professor')}" th:errors="*{professor}" class="error"></span>
                </label>
                <input id="professorCurso" type="text" th:field="*{professor}" />
            </div>

            <div class="form-group">
                <label for="formacaoCurso">Formação do Professor(a)
                    <span th:if="${#fields.hasErrors('formacao')}" th:errors="*{formacao}" class="error"></span>
                </label>
                <input id="formacaoCurso" type="text" th:field="*{formacao}" />
            </div>

            <div class="form-group">
                <label for="cepCurso">CEP
                    <span th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}" class="error"></span>
                </label>
                <input id="cepCurso" type="text" th:field="*{cep}" maxlength="9" placeholder="Ex: 01001-000"/>
            </div>

            <div class="form-group">
                <label for="bairroCurso">Bairro
                    <span th:if="${#fields.hasErrors('bairro')}" th:errors="*{bairro}" class="error"></span>
                </label>
                <input id="bairroCurso" type="text" th:field="*{bairro}" />
            </div>

            <div class="form-group">
                <label for="enderecoCurso">Endereço
                    <span th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}" class="error"></span>
                </label>
                <input id="enderecoCurso" type="text" th:field="*{endereco}" />
            </div>

            <div class="form-group">
                <label for="nrLocalCurso">Número Da Propriedade
                    <span th:if="${#fields.hasErrors('nrLocal')}" th:errors="*{nrLocal}" class="error"></span>
                </label>
                <input id="nrLocalCurso" type="text" th:field="*{nrLocal}" />
            </div>

            <div class="form-group">
                <label for="cargaHorariaCurso">Carga Horária
                    <span th:if="${#fields.hasErrors('cargaHoraria')}" th:errors="*{cargaHoraria}" class="error"></span>
                </label>
                <input id="cargaHorariaCurso" type="text" th:field="*{cargaHoraria}" />
            </div>

            <div class="form-group">
                <label for="dataInicioCurso">Data de Início
                    <span th:if="${#fields.hasErrors('dataInicio')}" th:errors="*{dataInicio}" class="error"></span>
                </label>
                <input id="dataInicioCurso" type="date" th:field="*{dataInicio}" maxlength="10" required />
            </div>

            <div class="form-group">
                <label for="dataFimCurso">Data de Fim
                    <span th:if="${#fields.hasErrors('dataFim')}" th:errors="*{dataFim}" class="error"></span>
                </label>
                <input id="dataFimCurso" type="date" th:field="*{dataFim}" maxlength="10" required/>
            </div>

            <div class="form-group">
                <label for="fotoCurso">Foto do Curso</label>
                <div class="upload-area">
                    <label for="fotoCurso" class="upload-btn">
                        <i class="fa-solid fa-cloud-arrow-up"></i> Escolher imagem
                    </label>
                    <span id="file-name" class="file-name">Nenhum arquivo selecionado</span>
                    <input id="fotoCurso" type="file" name="file" accept="image/*" />
                </div>
            </div>


            <div class="form-group" th:if="${curso.foto}">
                <label>Pré-visualização</label>
                <img th:src="${curso.foto}" alt="Imagem atual" style="max-width: 150px; border-radius: 10px;">
            </div>

            <div class="form-group">
                <label for="descricaoCurso">Descrição do Curso
                    <span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" class="error"></span>
                </label>
                <input id="descricaoCurso" type="text" th:field="*{descricao}" />
            </div>

            <div th:if="${curso.id != null}">
                <div class="form-group">
                    <label for="statusCurso">Status</label>
                    <select id="statusCurso" th:field="*{status}" required>
                        <option value=" ">Selecionar</option>
                        <option value="ATIVO">ATIVO</option>
                        <option value="INATIVO">INATIVO</option>
                    </select>
                </div>
            </div>

        </div>

        <button type="submit" class="button-sav">Salvar Curso</button>
    </form>
</div>

<script>
    document.getElementById('cepCurso').addEventListener('blur', function() {
      let cep = this.value.replace(/\D/g, '');

      if (cep.length === 8) {
        fetch(`https://viacep.com.br/ws/${cep}/json/`)
          .then(response => response.json())
          .then(data => {
            if (!data.erro) {
              document.getElementById('enderecoCurso').value = data.logradouro || '';
              document.getElementById('bairroCurso').value = data.bairro || '';
            } else {
              alert('CEP não encontrado!');
            }
          })
          .catch(() => alert('Erro ao buscar o CEP!'));
      } else if (cep.length > 0) {
        alert('CEP inválido! Digite 8 números.');
      }
    });
</script>

<script>
    const fileInput = document.getElementById('fotoCurso');
    const fileName = document.getElementById('file-name');

    fileInput.addEventListener('change', function () {
      fileName.textContent = this.files.length > 0
        ? this.files[0].name
        : 'Nenhum arquivo selecionado';
    });
</script>


</body>
</html>
