<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Empresa Parceira</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div th:replace="/navbar/dashboard :: menu"></div>

<div class="container">

    <h1 th:text="${empresaParceira.id == null ? 'Nova Empresa Parceira' : 'Editar Empresa Parceira'}"></h1>

    <form th:action="@{/empresasParceiras}" th:object="${empresaParceira}" method="post" class="form-adm">
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label for="nome_empresa">Nome da Empresa:</label>
            <input type="text" id="nome_empresa" th:field="*{nome_empresa}" required />
        </div>

        <div class="form-group">
            <label for="cnpj">CNPJ:</label>
            <input type="number" id="cnpj" th:field="*{cnpj}" required />
        </div>

        <div class="form-group">
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" th:field="*{endereco}" />
        </div>

        <div class="form-group">
            <label for="nome_representante">Nome do Representante:</label>
            <input type="text" id="nome_representante" th:field="*{nome_representante}" />
        </div>

        <div class="form-group">
            <label for="cpf_representante">CPF do Representante:</label>
            <input type="number" id="cpf_representante" th:field="*{cpf_representante}" />
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" />
        </div>

        <div class="form-group">
            <label for="data_inicio">Data de Início:</label>
            <input type="date" id="data_inicio" th:field="*{data_inicio}" required />
        </div>

        <div class="form-group">
            <label for="data_fim">Data de Fim:</label>
            <input type="date" id="data_fim" th:field="*{data_fim}" />
        </div>

        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="number" id="telefone" th:field="*{telefone}" />
        </div>

        <div class="form-group">
            <label for="objetivo">Objetivo:</label>
            <input type="text" id="objetivo" th:field="*{objetivo}" />
        </div>

        <div class="form-group">
            <label for="termos">Termos:</label>
            <input type="text" id="termos" th:field="*{termos}" />
        </div>

        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" th:field="*{status}" required>
                <option value="ATIVO">ATIVO</option>
                <option value="INATIVO">INATIVO</option>
            </select>
        </div>

        <button type="submit" class="button-sav">Salvar</button>
    </form>
</div>

</body>
</html>
