<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Formulário de Aluno</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div th:replace="/navbar/dashboard :: menu"></div>

<div class="container">
  <div th:if="${erro}" class="erroGlobal">
    <p th:text="${erro}"></p>
  </div>

  <form th:action="@{/aluno/salvar}" th:object="${aluno}" method="post" class="form-adm">
    <input type="hidden" th:field="*{id}" />

    <div class="add-voltar">
      <h1 th:text="${aluno.id == null ? 'Novo Aluno' : 'Editar Aluno'}"></h1>

      <a type="button" class="button-vol" th:href="@{/aluno/listar}">
        <i class="fa-solid fa-arrow-left"></i> Voltar
      </a>
    </div>

    <div class="form-grid">

      <div class="form-group">
        <label for="nomeAluno">
          Nome Completo
          <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="error"></span>
        </label>
        <input id="nomeAluno" type="text" th:field="*{nome}"
               th:classappend="${#fields.hasErrors('nome')} ? ' field-error' : ''" minlength="3" maxlength="100" placeholder="Digite o nome" required />
      </div>

      <div class="form-group">
        <label for="cpfAluno">
          CPF
          <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="error"></span>
        </label>
        <input id="cpfAluno" type="text" th:field="*{cpf}"
               th:classappend="${#fields.hasErrors('cpf')} ? ' field-error' : ''" placeholder="Ex: 000.000.000-00" required />
      </div>

      <div class="form-group">
        <label for="emailAluno">
          E-mail
          <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
        </label>
        <input id="emailAluno" type="email" th:field="*{email}"
               th:classappend="${#fields.hasErrors('email')} ? ' field-error' : ''" maxlength="255" placeholder="Ex: exemplo@gmail.com" required />
      </div>

      <div class="form-group">
        <label for="telefoneAluno">
          Telefone
          <span th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" class="error"></span>
        </label>
        <input id="telefoneAluno" type="text" th:field="*{telefone}"
               th:classappend="${#fields.hasErrors('telefone')} ? ' field-error' : ''" minlength="11" maxlength="15" placeholder="Ex: (00) 00000-0000" required />
      </div>

      <div class="form-group">
        <label for="generoAluno">
          Gênero
          <span th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="error"></span>
        </label>
        <select id="generoAluno" th:field="*{genero}"
                th:classappend="${#fields.hasErrors('genero')} ? ' field-error' : ''" required>
          <option value="" hidden="hidden">Selecionar</option>
          <option value="MASCULINO">MASCULINO</option>
          <option value="FEMININO">FEMININO</option>
        </select>
      </div>

      <div class="form-group">
        <label for="cepAluno">CEP</label>
        <input id="cepAluno" type="text" th:field="*{cep}" minlength="8" maxlength="9" placeholder="Ex: 01001-000" />
      </div>

      <div class="form-group">
        <label for="bairroAluno">Bairro</label>
        <input id="bairroAluno" type="text" th:field="*{bairro}" maxlength="255" placeholder="Ex: Jardim Botanica"/>
      </div>

      <div class="form-group">
        <label for="enderecoAluno">Endereço</label>
        <input id="enderecoAluno" type="text" th:field="*{endereco}" maxlength="255" placeholder="Ex: Rua Flores"/>
      </div>

      <div class="form-group">
        <label for="nrCasaAluno">Número da Casa</label>
        <input id="nrCasaAluno" type="text" th:field="*{nrCasa}" placeholder="Ex: 1234" />
      </div>

      <div class="form-group">
        <label for="matriculasAluno">Cursos
          <span th:if="${matriculaErro}" th:text="${matriculaErro}" class="error"></span>
        </label>

        <ul id="matriculasAluno" class="lista-cursos">
          <li th:each="curso : ${cursos}">
            <label class="curso-item">
              <input type="checkbox" name="cursosSelecionados"
                     th:value="${curso.id}"
                     th:checked="${aluno.matriculas != null and #lists.contains(aluno.matriculas.![curso.id], curso.id)}" />
              <strong th:text="${curso.nome}"></strong>
            </label>
          </li>
        </ul>

        <small id="cursoLimiteMsg" class="error" style="display:none;">
          Você pode selecionar no máximo 3 cursos.
        </small>
      </div>

      <div th:if="${aluno.id != null}">
        <div class="form-group">
          <label for="statusAluno">Status</label>
          <select id="statusAluno" th:field="*{status}" required>
            <option value=" ">Selecionar</option>
            <option value="ATIVO">ATIVO</option>
            <option value="INATIVO">INATIVO</option>
          </select>
        </div>
      </div>

    </div>

    <button type="submit" class="button-sav">Salvar Aluno</button>
  </form>
</div>

<script>
  document.getElementById('cepAluno').addEventListener('blur', function() {
    let cep = this.value.replace(/\D/g, '');

    if (cep.length === 8) {
      fetch(`https://viacep.com.br/ws/${cep}/json/`)
        .then(response => response.json())
        .then(data => {
          if (!data.erro) {
            document.getElementById('enderecoAluno').value = data.logradouro || '';
            document.getElementById('bairroAluno').value = data.bairro || '';
          } else {
            alert('CEP não encontrado!');
          }
        })
        .catch(() => alert('Erro ao buscar o CEP!'));
    } else if (cep.length > 0) {
      alert('CEP inválido! Digite 8 números.');
    }
  });

  const maxTotal = 5;
  const allCheckboxes = document.querySelectorAll('input[type="checkbox"]');
  let checkedOrder = [];

  allCheckboxes.forEach(checkbox => {
    checkbox.addEventListener('change', () => {
      if (checkbox.checked) {
        checkedOrder.push(checkbox);

        if (checkedOrder.length > maxTotal) {
          const firstChecked = checkedOrder.shift();
          firstChecked.checked = false;
        }
      } else {
        checkedOrder = checkedOrder.filter(c => c !== checkbox);
      }
    });
  });
</script>

</body>
</html>
